#
#
# MOST ENVIRONMENT VARIABLES ARE REQUIRED.
# DO NOT LEAVE ANY VARIABLES EMPTY/UNDEFINED.
# PUSHING AN .ENV FILE TO GITHUB WILL EXPOSE YOUR CREDENTIALS PUBLICLY.
# THIS WILL RENDER YOUR IMDB/TRAKT ACCOUNTS HACKED IF A MALICIOUS USER FINDS THE CREDENTIALS.
# IF USING GITHUB REPOSITORY SECRETS, AN .ENV FILE IS NOT REQUIRED.
#
#

#
# IMDB_COOKIE_AT_MAIN (required)
# Required
# Retrieve the `at-main` cookie by logging into your IMDb account and inspecting the cookies using your favourite web browser.
# name: at-main | domain: .imdb.com
IMDB_COOKIE_AT_MAIN=Atza|-4FhZjRA-1CdWcYR2NM-NNaIPaKUb68-W5E0_Mnk1a6IknaWvsjhDRZJnOPJXwTDjWfPfV6xVkuyFxyxiwrOTPw6HeDtt43vY82fzMuCHn1dKj9gfFOXzfoCje6TI6bntFAJNCGXBOnLY8xvax6TGYrkagKnn0OxKFx8HHNoXmNtL8ZvdIQVCaKNywOjxQcZLib2kujxxgHQRg5uON9wV8gIGJu1xmDK5DdwtJ-2Wq8
#
# IMDB_COOKIE_UBID_MAIN (required)
# Retrieve the `ubid-main` cookie by logging into your IMDb account and inspecting the cookies using your favourite web browser.
# (name: ubid-main | domain: .imdb.com)
IMDB_COOKIE_UBID_MAIN=134--
#
# IMDB_LIST_IDS (required)
# Comma separated list of IMDb lists that you want synced to Trakt.
# In order to get the id of an IMDb list, open your list in a browser and you will find the id in the URL with this format `ls#########`.
# If you set the value to `all` all your IMDb lists will be synced to Trakt.
# Keep in mind the maximum number of lists you can have in Trakt: https://twitter.com/trakt/status/1536751362943332352
# example: ls517879007,ls084017844,ls093412639
IMDB_LIST_IDS=all
#
# SKIP_HISTORY (optional)
# Whether to skip performing history sync or not. This variable is not case sensitive.
# Accepted values: `true`, `t`, `1` / `false`, `f`, `0`.
# IMDb doesn't offer functionality similar to Trakt history, hence why there can't be a direct mapping between them.
# The syncer will assume a user to have watched an item if they've submitted a rating for it.
# If the above is satisfied and the user's history for this item is empty, a new history entry is added!
SKIP_HISTORY=false
#
# SYNC_MODE (required)
# The sync mode to be used when running the syncer.
# The value must be one of the following: `full`, `dry-run`, `add-only`.
# `full`     - sync all IMDb items by adding, deleting or updating Trakt resources
# `add-only` - sync only newly added IMDb items to Trakt
# `dry-run`  - identify what IMDb items would be added, deleted or updated on Trakt
SYNC_MODE=dry-run
#
# TRAKT_CLIENT_ID (required)
# Client id of your Trakt API application.
# More info in the README file: https://github.com/cecobask/imdb-trakt-sync/blob/main/README.md
TRAKT_CLIENT_ID=
#
# TRAKT_CLIENT_SECRET (required)
# Client secret of your Trakt API application.
# More info in the README file: https://github.com/cecobask/imdb-trakt-sync/blob/main/README.md
TRAKT_CLIENT_SECRET=
#
# TRAKT_EMAIL (required)
# Trakt account email address (not username).
TRAKT_EMAIL=ha.com
#
# TRAKT_PASSWORD (required)
# Trakt password.
TRAKT_PASSWORD=J!
